<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout}">
    <body th:fragment="content">          
        <form th:action="@{/pessoa/create}" th:object="${pessoaForm}" method="post">
                <div class="card mt-2">
                    <div class="card-header">
                        <h3 class="card-title">Formulário de Criação</h3>
                    </div>
                    <div class="card-body">                           
                        <div class="row">
                            <div class="mb-3">
                                <label for="nome" class="form-label">Nome:</label>
                                <input type="text" id="nome" placeholder="Ex.: João dos Exemplos" th:field="*{nome}" class="form-control">
                                <div th:if="${errors != null && #fields.hasErrors('nome')}" th:errors="*{nome}"></div>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="form-label" for="dataNascimento">Data de Nascimento:</label>
                                <input class="form-control" type="date" id="nascimento" name="nascimento" required>
                                <div th:if="${errors != null && #fields.hasErrors('nascimento')}" th:errors="*{nascimento}"></div>
                            </div> 
                            <div class="form-group col-md-2">
                                <label for="sexo" class="form-label">Sexo:</label>
                                <select class="form-select" id="sexo" name="sexo" required>
                                    <option th:each="sexo : ${T(com.example.demo.Enum.Sexo).values()}"
                                        th:value="${sexo.codigo}"
                                        th:text="${sexo.descricao}"
                                    </option>
                                </select>
                            </div> 
                            <div class="form-group col-md-2">
                                <label for="deficiencia" class="form-label">Deficiência:</label>
                                <select class="form-select" id="deficiencia" name="deficiencia" required>
                                    <option th:each="deficiencia : *{listDeficiencia}"
                                        th:value="${deficiencia.id}"
                                        th:text="${deficiencia.nome}"
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3 col-md-3">
                                <label for="cep" class="form-label"> CEP:</label>
                                <input id ="cep" type"text" class="form-control" placeholder="99999-999" th:field="*{cep}">                             
                            </div>
                            <div class="mb-2 col-md-2">
                                <label for="uf" class="form-label">UF:</label>
                                <input id ="uf" class="form-control"th:field="*{uf}">                             
                            </div>
                            <div class="mb-2 col-md-2">
                                <label for="cidade" class="form-label">Cidade:</label>
                                <input id ="cidade" class="form-control"th:field="*{ciade}">                             
                            </div>
                            <div class="mb-2 col-md-2">
                                <label for="bairro" class="form-label">Bairro:</label>
                                <input id ="bairro" class="form-control"th:field="*{bairro}">                             
                            </div>
                            <div class="mb-3 col-md-3">
                                <label for="logradouro" class="form-label">Logradouro:</label>
                                <input id ="logradouro" class="form-control"th:field="*{logradouro}">                             
                            </div>                         
                         
                                                          
                                                       
                        </div>
                        
                    </div> 
                   
                           
                    <div class="card-footer d-flex justify-content-between">
                        <a href="/pessoa" class="btn btn-secondary">Voltar</a>
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </div>
                </div>
            </div>    
        </form>
        <script>
            $("#cep").inputmask("99999-999")
            .on("change", function(){
                let cep = $("#cep").val();
                cep.replace("_" , "");

                $.ajax({
                    datatype:"json",
                    type: "get",
                    url: "https://viacep.com.br/ws/" + cep + "/json/",
                    success: function(response){
                        
                       
                        document.getElementById("bairro").value = response['bairro'];
                        $("#logradouro").val(response['logradouro']);
                        $("#cidade").val(response['localidade']);
                        $("#uf").val(response['uf']);

                    



                    }

                });
                
            });
        </script>
    </body>
</html>